.image-wrapper{
  position: relative;
  .action{
    box-sizing: border-box;
    position: absolute;
    bottom:8px;
    background:rgba(0, 0, 0, 0.58);
    width: calc(100% - 15px);
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    padding: 0 15px;
    button{
      color: #fff;
      &:hover{
        color: blue;
      }
    }
  }
  &:hover{
    .action{
      height: 40px;
      color: #fff;
    }
  }
}